<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="startup.sh"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout.log"
                  startupTimeLimit="120"
                  startupRetryCount="3" >
    </httpPlatform>
  </system.webServer>
</configuration>